<style>
        .footerColumn {
            position: absolute;
            bottom: 0px;
            user-select: none;
            -webkit-user-select: none;
            color: #01579B;                        
            white-space: nowrap;
            height: 25px;
            padding-top: 5px;            
            text-align: right;
            font-weight: bold;   
        }
    </style>
    <div #tablecontainer style="
          position: absolute;
          top: 0px;
          bottom: 0px;
          right: 0px;
          left: 0px;                    
          overflow-x: auto;
          overflow-y: hidden; 
          user-select: none; 
          -webkit-user-select: none;"
          (scroll)="horizScroll($event)"
          >        
        <div [hidden]="canvastable.rowWrapMode" *ngFor="let col of canvastable.columns; let colIndex = index"          
            (touchstart)="colresizestart($event.targetTouches[0].clientX,colIndex)"
            (mousedown)="colresizestart($event.clientX,colIndex)"            
            (touchmove)="$event.preventDefault();colresize($event.targetTouches[0].clientX)"
            (touchend)="colresizeend()"            
            (click)="toggleSort(col.sortColumn)"
            style="
              position: absolute;
              top: 0px;
              user-select: none;
              -webkit-user-select: none;
              color: #01579B;          
              padding-left: 5px;
              white-space: nowrap;
              height: 25px;
              padding-top: 5px;
              text-align: center;
            "
            
            [style.width]="col.width+'px'"
            [style.backgroundColor]="col.backgroundColor ? col.backgroundColor : inherit"
            [style.left]="sumWidthsBefore(colIndex)+'px'"
            [style.cursor]="col.sortColumn!==null ? 'pointer' : 'default'"
            >
            <mat-icon *ngIf="sortColumn===col.sortColumn" style="font-size: 12px;">
                {{sortDescending ? 'arrow_upward' : 'arrow_downward'}}
            </mat-icon>
            {{col.name}}          
        </div>
        <div [style.display]="canvastable.rowWrapMode ? 'flex':'none'">        
          <div *ngFor="let col of canvastable.columns; let colIndex = index"         
              (click)="toggleSort(col.sortColumn)"
              (touchstart)="$event.preventDefault();toggleSort(col.sortColumn)" style="   
                padding: 4px;                          
                margin-right: 5px;
                border-radius: 5px;
                user-select: none;
                -webkit-user-select: none;
              "
              [style.backgroundColor]="sortColumn!==col.sortColumn ? 'inherit' : '#01579B'"
              [style.color]="sortColumn===col.sortColumn ? '#fff' : '#01579B'"
              [style.cursor]="col.sortColumn!==null ? 'pointer' : 'default'"
              >
              <mat-icon *ngIf="sortColumn===col.sortColumn" style="font-size: 12px;">{{sortDescending ? 'arrow_upward' : 'arrow_downward'}}</mat-icon>{{col.name}}          
          </div>        
        </div>
        
        <div #tablebodycontainer style="position: absolute; 
          top: 25px; 
          bottom: 25px; 
          width: 100%;" 
            [style.left]="canvastable.horizScroll+'px'">          
          <canvastable [selectListener]="canvastableselectlistener"
            (touchscroll)="tablecontainer.scrollLeft=$event;tablebodycontainer.style.left=$event+'px'">
          </canvastable>
        </div>
        <div [hidden]="canvastable.rowWrapMode" *ngFor="let col of canvastable.columns; let colIndex = index"          
            (touchstart)="colresizestart($event.targetTouches[0].clientX,colIndex)"
            (mousedown)="colresizestart($event.clientX,colIndex)"            
            (touchmove)="$event.preventDefault();colresize($event.targetTouches[0].clientX)"
            (touchend)="colresizeend()"            
            (click)="toggleSort(col.sortColumn)"
            class="footerColumn"
                  
            [style.width]="col.width+'px'"
            [style.backgroundColor]="col.backgroundColor ? col.backgroundColor : inherit"
            [style.left]="(sumWidthsBefore(colIndex))+'px'"
            
            >            
            <span style="padding-right: 10px">{{col.footerText}}</span>
        </div>
    </div>    