<style>
    mat-card {
        margin: 5px;
    }
    
    mat-card-title {
        text-align: center;
    }
</style>

<div style="display: flex; flex-wrap: wrap; width: 100%">
    <div style="flex-grow: 1">

        <mat-card>
            <mat-card-title>
                Temperature and precipitation
            </mat-card-title>
            <mat-card-content>
                <div style="height: 300px;">
                    <linechart #linechart *ngIf="datapoints" [xaxisnav]="true" [datapoints]="datapoints" [chartConfig]="lineChartConfig" mode="standard">
                    </linechart>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let legendItem of legendItems" [style.color]="legendItem.color">
                        <h4 mat-line>{{legendItem.name}}</h4>
                        <p mat-line>{{legendItem.description}}</p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>